<section class="main-dashboard">
    <nav class="navbar navbar-expand-lg" id="navbar_top">
        <div class="container">
          <!-- <a class="navbar-brand me-0" >
            <img src="https://marketplace.canva.com/EAFaFUz4aKo/2/0/1600w/canva-yellow-abstract-cooking-fire-free-logo-JmYWTjUsE-Q.jpg" alt="Estia-logo" class="img-fluid rounded" width="180">
          </a> -->
          <div>
            <!-- <form class="right-side"> -->
              <w3m-button balance='hide' />
            <!-- </form> -->
          </div>
        </div>
    </nav>
  </section>